<div class="jumbotron">
<div class="container mt-3">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <a class="btn btn-primary mr-2" routerLink="/TemplateDrivenForm" routerLinkActive="btn-success">Template Driven Form</a>
      <a class="btn btn-primary" routerLink="/ReactiveForm" routerLinkActive="btn-success">Reactive Form</a>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-md-6 offset-md-3">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
</div>